<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png"
        href="static/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png"
        href="static/favicon-16x16.png" sizes="16x16"/>

  <title>Muting Proxy for Steem</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
        rel="stylesheet" type="text/css">
  <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet" type="text/css">


  <!-- Custom styles for this template -->
  <link href="/static/css/freelancer.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase"
     id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/">Muting Proxy<sup
        style="font-size:9px;">app</sup></a>
    <button
        class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded"
        type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if not request.user.is_authenticated %}
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}

        {% if request.user.is_authenticated %}
          <li class="nav-item mx-0 mx-lg-1" style="color:white;">
          <span class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Logged in as  {{ request.user.username }}</span>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               href="{% url 'logs' %}">Logs</a>
          </li>

          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
               href="{% url 'logout' %}">(Logout)</a>
          </li>


        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% block banner %}
  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <h4 class="text-uppercase mb-0">Subscribe to the well known steem
        accounts' muting
        lists</h4>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">
        Ignore the bad actors, spammers before they bother you.</h2>
    </div>
  </header>
{% endblock %}
{% block content %}
{% endblock %}
<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>If your account is low on RC, using this tool may exhaust your
      available resource credits. muting proxy is an open source app. check it
      out at <a href="https://github.com/emre/muteproxy">Github.</a></small>
  </div>
</div>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded"
     href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
{% block modals %}
{% endblock %}

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/freelancer.js"></script>

</body>

</html>
